*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  padding: 1.5rem;
}
body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table,
th,
td {
  border-style: dotted;
  margin: auto;
  padding: 1rem;
}
